name: CI

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  cs:
    uses: playwright-php/.github/.github/workflows/CS.yml@main
    # with:
      # php-version: '8.4'
      # composer-validate: true
      # php-cs-fixer-args: '--diff --dry-run'

  sa:
    uses: playwright-php/.github/.github/workflows/SA.yml@main
    # with:
      # php-version: '8.4'
      # phpstan-args: 'analyse --no-progress --memory-limit=-1'
